# IDE
# =================================
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Maven
# =================================
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Build
# =================================
*.jar
*.war
*.ear

# Logs
# =================================
*.log

# Operating System
# =================================
.DS_Store
Thumbs.db

# Other
# =================================
# Local application properties that might contain sensitive data
# application-local.properties